{% include head.html %}

<section class="article">

{% if page.image.feature %}
  <div class="overlay"></div>
  {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
  <div class="featured-image" style="background-image: url({{ page.image.feature }})"></div>
  {% else %}
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
  {% endif %}
{% else %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
{% endif %}

          <article class="wrap post">
                 <lh><h2><span class="bb">{{ page.title }}</span></h2></lh>
                  <div markdown=“1”>
I'm a computational biologist at the Memorial Sloan Kettering Cancer Center in New York. In an earlier life I was a Chemical Engineer, and that early foundation guides how I think about a lot of the problems I try to solve in the lab. The majority of my projects have used proteomics and high-throughput cellular phenotypic data to design and understand treatment for glioblastoma, an aggressive brain tumor with quick and high mortality. 

I have a weakness for cats, science-fiction and Indian classical music. I occasionally tweet about science and music @gene_poo.
		</div>	
             
          </article>
        </section>
   

{% include footer.html %}
